@use'../reset.css';
@use '../base/base';
@use '../base/utilities';
@use '../base/variables' as var;
@use '../base/mixin';
@use '../components/header';
@use '../components/footer';
@use '../components/button';
@use '../components/modal';
@use '../components/contact';
@use '../components/eyecatch';

.company {
	&__table {
		width: 100%;
		border-spacing: 0;

		th,
		td {
			border-top: 0.1rem solid var.$color-black;
			padding: 2rem 0;
		}
	}
}