@use '../base/variables' as var;
@use './modal';

.btn__box {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}

.btn {
	display: block;
	width: 300px;
	background-color: var.$color-red;
	color: var.$color-white;
	text-align: center;
	font-weight: 600;
	padding: 1rem 0;
	border: none;
	cursor: pointer;
}

.btn--black {
	@extend .btn;
	background-color: var.$color-black;
}

.btn--close {
	font-size: 3rem;
	position: absolute;
	top: 2rem;
	right: 3rem;
}