@use '../base/variables' as var;

.eyecatch {
	width: 100%;
	position: relative;

	&__img {
		object-fit: cover;
		height: 250px;
	}

	&__text {
		position: absolute;
		display: flex;
		justify-content: center;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
	}

	&__title {
		color: var.$color-white;
	}
}