extends  /components/_layout.pug

block title
	- const title = "TECH company";
	title #{title}

block content
	section.hero
		.f-container 
			.hero__top
				.hero__text-box.w-container
					h1.hero__copy 最新のテクノロジーで社会課題を解決
					p.hero__copy-sub Solving social issues with the latest technology
				.hero__img-box 
					img.hero__img(src="/images/mv.png" alt="")

	//- message
	section.message.mb-8 
		.pt-10.pb-10.w-container
			h2.message__title.mb-2 株式会社TECHの想い
			p.message__desc.text あらゆる産業において、新たなデジタル技術を使ってこれまでにないビジネスモデルを展開する新規参入者が登場し、ゲームチェンジが起ころうとしています。こうした中で、各企業は、競争力維持・強化のために、DXを迅速に進めていくことが求められています。しかし、DXにおいて投資コストは非常にかかります。株式会社TECHでは独自のオペレーションと人材教育により、他社よりも価格を抑えた開発を行います。 

	//- service
	section.service.mb-8
		.w-container
			h2.service__title.title.mb-2 サービス
			.card__group
				.card
					.card__top 
						img.card__img(src="/images/service1.png")
					.card__body
						h3.card__title IT人材育成事業
						p.card__desc.text これまでに培った教育手法を生かして、短期間で即戦力のIT人材を育成します。
				.card
					.card__top 
						img.card__img(src="/images/service2.png")
					.card__body
						h3.card__title コーチング事業
						p.card__desc.text 目標達成を最短で実現するために、プロのコーチによるマンツーマンのサポートを実施します。
				.card
					.card__top 
						img.card__img(src="/images/service3.png")
					.card__body
						h3.card__title ITコンサル事業
						p.card__desc.text 経営戦略にIT戦略を策定し、システム開発の提案やシステムの最適化を通じて、企業の経営をサポートします。
				.card
					.card__top 
						img.card__img(src="/images/service4.png")
					.card__body
						h3.card__title デジタルトランスフォーメーション事業
						p.card__desc.text 人々の生活をよりよいものに変革するために様々なデジタル技術を活用し、革新的なソリューションやサービスを生み出します。
		.btn__box
			a.btn(href="/service/") サービス一覧をみる

	//- blog
	section.blog.mb-8
		h2.blog__title.title.mb-2 社員ブログ
		.w-container  
			.card__group
				.card
					.card__top 
						a(href="#") 
							img.card__img(src="/images/blog.png")
					.card__body
						span.card__date 2019/07/17
						a(href="#") 
							h3.card__title 会社を創業した理由
				.card
					.card__top 
						a(href="#") 
							img.card__img(src="/images/blog.png")
					.card__body
						span.card__date 2019/11/11
						a(href="#") 
							h3.card__title ITエンジニアを育成する最強メソッド
				.card
					.card__top 
						a(href="#") 
							img.card__img(src="/images/blog.png")
					.card__body
						span.card__date 2020/08/01
						a(href="#") 
							h3.card__title コーチングによるモチベーション向上理論
		.btn__box
			a.btn(href="/blog/") 社員ブログ一覧を見る

	//- company
	section.company.mb-8
		a.company__link.title(href="/company/") 会社概要

	//- contact
	include /components/_contact.pug