footer.footer
	.footer__container 
		small 2020 #[span tech] inc.
		.footer__navigation 
			ul.footer__list-group 
				li.footer__list-item 
					a.footer__list-link ホーム
				li.footer__list-item 
					a.footer__list-link 事業内容
				li.footer__list-item 
					a.footer__list-link 社員ブログ
				li.footer__list-item 
					a.footer__list-link 会社概要

.go-to-top
	span &uarr;