header.header__container 
	.header__logo-box 
		img.header__logo(src="/images/logo.png" alt="")
	nav.header__nav
		ul.header__list-group 
			li.header__list-item 
				a.header__list-link(href="/") ホーム 
			li.header__list-item 
				a.header__list-link(href="/service/") 事業内容 
			li.header__list-item 
				a.header__list-link(href="/blog/") 社員ブログ
			li.header__list-item 
				a.header__list-link(href="/company/") 会社概要
	.humburger
		span.humburger__line